.help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background: #00A5E8;
  width: 100%;
  height: 100%;
  h1 {
    display: flex;
    color: white;
    border: 5px solid white;
    box-sizing: border-box;
    justify-content: center;
    width: calc(100% - 10px);
    margin: 5px;
  }
  &__map {
    display: flex;
    position: relative;
    box-sizing: border-box;
    border: 5px solid white;
    margin: 5px;
    min-height: 500px;
    &-google {
      width: calc(100% + 20px) !important;
    }
  }
}

.info-window {
  display: flex;
  width: 300px;
  height: 100%;
  border: 5px solid #FFFFFF;
  background-color: #E2E5E2;
  &-left {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    width: 70%;
    &__input {
      display: flex;
      box-sizing: border-box;
      margin: 1px 0;
      border: 5px solid #C8C8C8;
      background-color: #FFFFFF;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0;
    width: 30%;
    &__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #ffffff;
      img {
        display: flex;
        width: 40px;
        height: 40px;
      }
    }
    &__button {
      display: flex;
      width: 100%;
      background-color: #E2E2E2;
      color: #5EA6D0;
    }
  }

}

@media (min-width: 601px) {
  .info-window {
    flex-direction: row;
    &__avatar-mobile {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .info-window {
    flex-direction: column;
    width: 100%;
    padding-top: 5px;
    &__avatar-mobile {
      display: flex;
      align-self: center;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #ffffff;
      img {
        display: flex;
        width: 40px;
        height: 40px;
      }
    }
    &-right {
      &__avatar {
        display: none;
      }
      &__button{
        margin-left: 20px;
      }
    }
  }
}