.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  //width: 100%;
  height: 100%;
  h1{
    color: white;
    z-index: 3;
    padding: 5px;
    border: 5px solid white;
  }
  &--left{
    display: flex;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    justify-self: flex-start;
    background-color: #329DE1;
    z-index: 0;
    opacity: 0.3;
  }
  &--right {
    display: flex;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    justify-self: flex-end;
    background-color: #F73381;
    z-index: 0;
    opacity: 0.3;
  }
  &__background-img{
    display: flex;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.3;
    z-index: -1;
  }
  &__links{
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    list-style-type: none;
    z-index: 1;
    &-single{
      display: flex;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;
      flex-grow: 1;
      width: 100%;
      &-anchor {
        text-decoration: none;
        font-weight: bold;
        color: white;
        padding: 20px;
        border-radius: 15px;
        background: #e5e5e5;
        transition: all 0.3s ease-in;
        &--blue{
          color: #329DE1;
          border: 1px solid #329DE1;
          box-shadow: 1px 1px 0 #329DE1,
          2px 2px 0 #329DE1,
          3px 3px 0 #329DE1,
          4px 4px 0 #329DE1,
          5px 5px 0 #329DE1,
          6px 6px 0 #329DE1;
          &:hover, &:active{
            box-shadow: 1px 1px 0 #329DE1,
            2px 2px 0 #329DE1,
            3px 3px 0 #329DE1;
          }
        }
        &--red{
          color: #F73381;
          border: 1px solid #F73381;
          box-shadow: -1px 1px 0 #F73381,
          -2px 2px 0 #F73381,
          -3px 3px 0 #F73381,
          -4px 4px 0 #F73381,
          -5px 5px 0 #F73381,
          -6px 6px 0 #F73381;
          &:hover, &:active{
            box-shadow: -1px 1px 0 #F73381,
            -2px 2px 0 #F73381,
            -3px 3px 0 #F73381,
          }
        }
      }
    }
  }

}