.work {
  display: flex;
  padding: 5px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #DC1373;
  &__header {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    color: white;
    height: 120px;
    border: 5px solid white;
  }
  &__form {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: #E8E8E8;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &-element {
      display: flex;
      &-label {
        display: flex;
        align-items: center;
        &::after {
          display: flex;
          content: '🌍';
        }
      }
    }
    input, textarea {
      border: 3px solid #C5C6C3;
      margin: 7px 7px;
      padding: 2px;
    }
    &-submit {
      display: flex;
      align-self: center;
      margin-top: 10px;
      color: #DC1373;
      width: 100px;
      box-shadow: 1px 1px 0 #8C8C8C,
      2px 2px 0 #8C8C8C,
      3px 3px 0 #8C8C8C
    }
  }
}